.disp {
  min-width: 60px;
  padding-right: 20px;
  float: right;
  text-align: right;
}

.game {
  width: 600px;
  float: auto;
  margin: 0, 80;
  padding: 0px;
  height: 700px;
}

#instructions {
  color: gray;
  font-style: italic;
  margin-left: 30px;
  padding-left: 30px;
  float: clear;
}

#title {
  font-size: 300%;
}

svg {
  padding: 0px;
  margin: 0px;
}

.notify {
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  float: center;
}
